* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.login-modal {
  text-decoration: none;
  color: white;
  font-size: 20px;
  display: inline-block;
  border: 2px solid;
  border-radius: 50px;
  padding: 10px 15px;
  background-image: url(../img/bg.jpg);
}
.login-form {
  transform: translateY(-220%);
  transition: all 1s;
  width: 400px;
  height: 300px;
  background-image: url(../img/bg.jpg);
  position: relative;
  margin: 15% auto;
  border-radius: 30px;
}
.login-form__title {
  padding-top: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #dddddb;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(32, 32, 27, 0.2);
}
.login-form__name {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
  width: 60%;
  height: 40px;
  margin: 5px 20%;
  outline: none;
}
.login-form__password {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
  width: 60%;
  height: 40px;
  margin: 5px 20%;
  outline: none;
}
.login-form__btn {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #255073;
  background-color: rgba(90, 139, 179, 0.3);
  width: 61%;
  padding: 0;
  margin: 10px 20%;
  height: 40px;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-shadow: 0px 1px 0px rgba(32, 32, 27, 0.3);
  outline: none;
}
.login-form__btn:hover {
  background-color: rgba(90, 139, 179, 0.8);
  cursor: pointer;
}
.login-form__close {
  position: absolute;
  top: .7rem;
  right: 1rem;
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
}
.login-form:target {
  transform: translateY(0%);
}
input::-webkit-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 14px;
  padding-left: 15px;
  font-weight: 400;
  text-align: left;
  color: #fff;
}
::-moz-placeholder {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 14px;
  padding-left: 15px;
  font-weight: 400;
  text-align: left;
  color: #fff;
}
:-moz-placeholder {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 14px;
  padding-left: 15px;
  font-weight: 400;
  text-align: left;
  color: #fff;
}
:-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 14px;
  padding-left: 15px;
  font-weight: 400;
  text-align: left;
  color: #fff;
}
