
.text-box{
	padding-top: 2rem;
}
.result {
	margin-bottom: 0;
	margin-top: 3rem;
}
.fonts {
	font-size: 2rem;
	text-align: center;
	padding: 2rem;
}
small {
	font-size: 1.3rem;
}
.res-1 {
	font-family: Open Sans;
}
.res-2 {
  font-family: Bebas;
}
.res-3 {
  font-family: Lato;
}
.res-4 {
	font-family: Lobster;
}
@font-face {
	font-family: Lato;
	src: url(../fonts/Lato-Regular.ttf); 
}
@font-face {
	font-family: Bebas;
	src: url(../fonts/BebasRegular.otf); 
}
