* {
  margin: 0;
  padding: 0;
}
section {
  padding: 20px 100px;
  height: 100vh;
}
.menu {
  opacity: .9;
  background-color: purple;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  left: -100vw;
}
.menu-link {
  z-index: 9;
  display: block;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 20px;
  left: 20px;
}
.menu-link span,
.menu-link span:before,
.menu-link span:after {
  display: block;
  height: 2px;
  width: 18px;
  position: absolute;
  left: 50%;
  margin-left: -9px;
  top: 50%;
  margin-top: -1px;
  background-color: #333;
}
.menu-link span:before {
  transition: all 0.2s;
  content: '';
  margin-top: -6px;
}
.menu-link span:after {
  transition: all 0.2s;
  content: '';
  margin-top: 4px;
}
.menu-link_active span {
  background-color: transparent;
}
.menu-link_active span:before {
  transform: rotate(135deg);
  margin-top: 0;
}
.menu-link_active span:after {
  transform: rotate(-135deg);
  margin-top: 0;
}
.menu_active {
  left: 0;
}
.menu ul {
  list-style: none;
  padding: 0;
  text-align: center;
}
.menu ul li {
  width: 100vw;
}
.menu ul a {
  line-height: 4;
  display: block;
  width: 100%;
  font-weight: 100;
  letter-spacing: 4px;
  color: #fff;
  text-decoration: none;
  transition: all 0.2s;
}
.menu ul a:hover {
  background-color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}
@media (max-width: 520px) {
  section {
    margin-bottom: 100vh;
  }
}
