html {
  font-size: 10px;
}
.main {
  background-image: url(../img/background.jpg);
  width: 100%;
  height: 100vh;
}
.main_title {
  font-family: 'Ubuntu', sans-serif;
  color: #0bbaf0;
  font-size: 2.8rem;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-top: 8rem;
  line-height: 3rem;
  display: block;
}
.main_text {
  font-family: 'Ubuntu', sans-serif;
  color: #31c7f3;
  font-size: 1.9rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  display: block;
}
.main_line {
  display: inline-block;
  width: 10rem;
  content: '';
  border: 0.5px solid #cccecf;
  margin-left: 13rem;
  margin-bottom: 2rem;
}
.tab {
  margin-bottom: 1rem;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.9rem;
  font-weight: 400;
  text-align: center;
  background-color: #0bbaf0;
  display: block;
  padding: 2rem;
  color: #fff!important;
  cursor: pointer;
}
.tab:hover {
  text-decoration: none;
}
.content {
  display: none;
}
.content p {
  font-family: 'Ubuntu', sans-serif;
  color: #535353;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: left;
  text-align: center;
  background-color: #fff;
  border-width: 4px;
  border-color: #dcdcdc;
  border-style: solid;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1.4rem;
  margin-top: -1rem;
}
.content-1 {
  display: inline-block;
}
