body {
	background-color: #f3f5f7;
}

h1 {
font-family: Arvo;
color:  #3b3e6a;
font-size: 29.71px;
font-weight: 400;
line-height: 82.18px;
transform: scaleY(1.01);
margin-bottom: 10rem;
}
.first-title {
font-family: Arvo;
color:  #3b3e6a;
font-size: 22px;
font-weight: 400;
line-height: 30px;
}
.second-title {
font-family: NotoSans;
color:  #686b8b;
font-size: 20px;
font-weight: 400;
line-height: 30px;
}
.text-center {
	text-align: center;
}
img {
	height: 140px;
}