* {
  font-size: 10px;
}
.block {
  position: absolute;
  top: 70px;
  right: 70px;
  background-color: #4d59a1;
  width: 610px;
  height: 569px;
}
.form-title {
  font-family: 'ChunkFive', sans-serif;
  color: #ffffff;
  font-size: 6.699rem;
  font-weight: 400;
  line-height: 0.148;
  text-align: center;
}
.form-email {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #c7c7c7;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.17);
  width: 469px;
  height: 55px;
  font-family: 'Lato', sans-serif;
  color: #000;
  font-size: 1.4rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1.714;
  text-align: center;
}
.form-company {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #c7c7c7;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.17);
  width: 225px;
  height: 55px;
  font-family: 'Lato', sans-serif;
  color: #000;
  font-size: 1.4rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1.714;
  text-align: center;
  margin-left: 7rem;
  margin-top: 2rem;
  margin-right: 1.5rem;
}
.form-subject {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #c7c7c7;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.17);
  width: 225px;
  height: 55px;
  font-family: 'Lato', sans-serif;
  color: #000;
  font-size: 1.4rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1.714;
  text-align: center;
}
.form-message {
  display: block;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #c7c7c7;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.17);
  width: 470px;
  height: 96px;
  margin: 0 auto;
  margin-top: 2rem;
  font-family: 'Lato', sans-serif;
  color: #000;
  font-size: 1.4rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1.714;
  text-align: center;
}
.form-btn {
  display: block;
  background-color: #c3f37f;
  width: 270px;
  height: 76px;
  margin: 0 auto;
  margin-top: 2rem;
  border: none;
  border-radius: 50px;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.6;
  text-transform: uppercase;
  text-align: center;
  outline: none;
}
/*Placeholder*/
::-webkit-input-placeholder {
  font-family: 'Lato', sans-serif;
  color: #b9b9b9;
  font-size: 1.4rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1.714;
  text-align: center;
}
::-moz-placeholder {
  font-family: 'Lato', sans-serif;
  color: #b9b9b9;
  font-size: 1.4rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1.714;
  text-align: center;
}
:-moz-placeholder {
  font-family: 'Lato', sans-serif;
  color: #b9b9b9;
  font-size: 1.4rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1.714;
  text-align: center;
}
:-ms-input-placeholder {
  font-family: 'Lato', sans-serif;
  color: #b9b9b9;
  font-size: 1.4rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1.714;
  text-align: center;
}
/*Fonts*/
@font-face {
  font-family: ChunkFive;
  src: url(../fonts/chunkfive.regular.ttf);
}
